<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <form action="<%= '/users/' + user.id +'?_method=PUT' %>" method="POST">
    <h1>Enter User Profile Info</h1><br/>

    <label>First Name:
  <input type="text" name="firstName" value= "<%=user.firstName %>" />
</label><br/>
  <label>Last Name:
<input type="text" name="lastName" value="<%=user.lastName %>" />
</label><br/>

<label> Email:
<input type="email" name="email" value="<%=user.email %>" />
</label><br/>

<label>Date of Birth:
<input type="date" name="dob" value="<%=user.dob %>" /><br/>
</label>
<input type="submit" value="Edit">
</form>

</body>
</html>
